@charset "utf-8";

html, 
body {
    margin: 1.5em 2em;
    font: normal 95% Helvetica, Verdana, Arial, sans-serif;
    color: #000;
    padding: 0;
    line-height: 1.7;
}

h2 {
    margin-top: 3em;
}

/*ul, ol {
    margin: 0 0 1rem 0;
    padding: 0;
}
li {
    margin: 0 0 0 1rem;
    padding: 0;
}*/
abbr {
    border-bottom: 1px dotted blue;
    text-decoration: none;
}
kbd {
    padding: 3px 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1.1rem;
}

[aria-hidden="true"] {
    display: none;
}